# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build
client/dist/

# Environment variables & local databases
.env
.env.local
server/*.db-journal
server/*.db-wal
server/*.db-shm

# OS files
.DS_Store
Thumbs.db
